.topicos {
    background: var(--cor-3);
    text-align: center;
    padding: 1em;
}

.topicos_titulo {
    color: var(--cor-5);
    font-weight: 400;
}

.topicos_lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos_item {
    margin: 2em 0.5em;
}

.topicos_link {
    padding: 1em;
    background: var(--cor-4);
    color: var(--cor-5);
    text-decoration: none;
    font-size:14px;
    font-weight: 700;

}

@media screen and (min-width:1024px) {
    .topicos_titulo {
        font-size: 1.5em;
    }
    
}